<!DOCTYPE>
<html>
<head>
	<title></title>
</head>
<body bgcolor="#C0FFFF">
	<center>
		<b><i><h1>
		STOCK PRICE PREDICTION
	</h1></i></b>
	</center>
	<center>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
	 
	 	<li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">ABOUT</a>
      </li>
      <br/>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contact' %}">CONTACT</a>
      </li>
   
		</div>

	<h2>
	<p> Let’s Go To Know About Stock </p> 
	INVEST IN EVERYTHING
	<br/><br/>
	PLATFORM TO KNOW ABOUT THE STOCKS

	</h2>
	<style>
      button {
        display: inline-block;
        background-color: #C0C0C0;
        padding: 20px;
        width: 200px;
        color: #00bfff;
        text-align: center;
      }
    </style>

	<button ><a href="{% url 'register' %}">REGISTER HERE </a></button>
	<button ><a href="{% url "admin:index" %}">ADMIN LOGIN  </a></button>
	</center>
	
</body>
</html>
